        <div class="snowflakes" aria-hidden="true">
            <div class="snowflake">❅</div>
            <div class="snowflake">❆</div>
            <div class="snowflake">❅</div>
            <div class="snowflake">❆</div>
            <div class="snowflake">❅</div>
            <div class="snowflake">❆</div>
            <div class="snowflake">❅</div>
            <div class="snowflake">❆</div>
            <div class="snowflake">❅</div>
            <div class="snowflake">❆</div>
            <div class="snowflake">❅</div>
            <div class="snowflake">❆</div>
        </div>
        <div class = "home">
        <div class="container">
        <header style="width: 980px;height:140px;font-size: 50px;text-align:center">
            <a href="#"><img src="img/logo_haui.jpg" alt=""></a>
            NGHIÊN CỨU KHOA HỌC
        </header>
        <br>
        <h6 style="font-size: 60px;color:crimson;">
        <marquee scrollamount="25" style="padding-bottom:50px">
            Chào mừng bạn đến với thông tin nghiên cứu khoa học của Khoa Điện tử
        </marquee>
        </h6>
        <h1 style="font-size: 28px;padding-left: 5px;text-align: center;font-size: 25px;color:black;">
            Chúng tôi đang tìm những sinh viên mong muốn được tham gia nghiên cứu khoa học tại Khoa Điện tử-Trường Đại học Công nghiệp Hà Nội. 
        </h1>
        <p style="font-size: 23px;text-align: center">Nếu sinh viên nào quan tâm, vui lòng gửi email tới các Thầy/Cô kèm theo CV ngắn gọn.</p>
        <br>
        
        
        <img src="https://marketplace.canva.com/EAD5Zkhb0as/1/0/1600w/canva-xanh-h%E1%BA%A3i-qu%C3%A2n-xanh-d%C6%B0%C6%A1ng-t%E1%BA%A1o-%C4%91%E1%BB%99ng-l%E1%BB%B1c-h%C3%ACnh-n%E1%BB%81n-m%C3%A1y-t%C3%ADnh-uXtOqlp9DmY.jpg" alt="" width="100%">
        
        
        
        <article>
            <h2 ><br>"Những Nghiên Cứu Của Chúng Tôi Mở Ra Một Hướng Đi Hoàn Toàn Mới Cho Thế Hệ Tiếp Theo" <br> </h2> 
            <h3> <br>
                
                Các nhóm nghiên cứu khoa học:
                <br>&diams;<br>
                 <br>
            </h3>
            <div class="new_list">
                <div class="new_item">
                    <h4>Nhóm 1</h4>
                    <img src="img/nvc.png" alt="" style ="width: 200px;height:250px;">
                    <br>
                    <a href="https://sites.google.com/view/info-nvc/home"> Nguyễn Văn Cường</a>
            
                    <br>
                    <div class="content">
                        <br>Trưởng nhóm: Nguyễn Văn Cường<br>
                        <br>Email: cuongnv@haui.edu.vn<br>
                        <br>Nguyễn Văn Cường nhận bằng kỹ sư và thạc sĩ của Trường Đại học Công Nghiệp Hà Nội lần lượt vào năm 2020 và 2022. <br>
                        <br>Lĩnh vực nghiên cứu của ông bao gồm tạo định dạng búp sóng, anten thông minh, thuật toán tối ưu hóa lấy cảm hứng từ thiên nhiên, tối ưu lồi và học sâu.<br>
                        <br>Thành viên: <a href="https://sites.google.com/view/infontmt/home"> Nguyễn Thị Mai Thủy</a>, 
                         <a href="https://sites.google.com/view/infonmd/home"> Nguyễn Minh Đức</a>, <a href="https://sites.google.com/view/info-nbl/home"> Nguyễn Bá Lãm</a><br>



                    </div>
                </div>
            </div>
           
            
        </article>
        <article>
            
            <div class="new_list">
                <div class="new_item">
                    <h4>Nhóm 2</h4>
                    <img src="img/tvl.jpg" alt="" style ="width: 200px;height:250px;">
                    <br>
                    <a href="https://sites.google.com/view/info-tvl/home"> Tống Văn Luyên</a>
            
                    <br>
                    <div class="content">
                        <br>Trưởng nhóm: Tống Văn Luyên<br>
                        <br>Email: luyentv@haui.edu.vn<br>
                        <br>Tống Văn Luyên nhận bằng cử nhân khoa học và thạc sĩ khoa học của Trường Đại học Bách khoa Hà Nội lần lượt vào năm 2002 và 2004 và nhận bằng Tiến sĩ của Trường Đại học Công nghệ, ĐHQGHN vào năm 2019. <br>
                        <br>Lĩnh vực nghiên cứu của ông là định dạng búp sóng và điều khiển búp sóng cho mảng anten, anten thông minh, xử lý mảng tối ưu, thuật toán tối ưu hóa lấy cảm hứng từ thiên nhiên và trí tuệ nhân tạo.<br>
                        <br>Thành viên: <a href="https://docs.google.com/document/d/1hLXJLbV9gb_za3O9tqmr9nAHrVV1O8VF/edit"> Lê Thị Trang</a>, <a href="https://sites.google.com/view/infontva/home"> Nguyễn Thị Vân Anh</a>,
                         <a href="https://sites.google.com/view/info-hvd/home"> Hoàng Văn Đạo</a>, <a href="https://sites.google.com/view/infothd/home"> Trần Hải Dương</a> <br>



                    </div>
                </div>
            </div>
           
            
        </article>
        <article>
            
            <div class="new_list">
                <div class="new_item">
                    <h4>
                        Nhóm 3
                    </h4>
                    <img src="img/hmk.jfif" alt="" style ="width: 200px;height:250px;">
                    <br>
                    <a href="https://scholar.google.com/citations?user=KzDSNRUAAAAJ&hl=en"> Hoàng Mạnh Kha</a>
            
                    <br>
                    <div class="content">
                        <br>Trưởng nhóm: Hoàng Mạnh Kha<br>
                        <br>Email: khahoang@haui.edu.vn<br>
                        <br>Hoàng Mạnh Kha nhận bằng cử nhân khoa học và thạc sĩ khoa học của Trường Đại học Bách khoa Hà Nội lần lượt vào năm 2002 và 2004. <br>
                        <br>Ông nhận bằng tiến sĩ của Đại học Paderborn, Đức vào năm 2016.<br>
                        <br>Lĩnh vực nghiên cứu của ông bao gồm xử lý tín hiệu số, truyền thông không dây, kỹ thuật định vị, học sâu, phân loại mẫu và metaheuristics.<br>
                        <br>Thành viên: <a href="https://scholar.google.com/citations?user=DGO0uXQAAAAJ&hl=en"> Vũ Trung Kiên,</a>
                        <a href="https://scholar.google.com/citations?user=SOB6RSIAAAAJ&hl=en"> Dương Thị Hằng</a><br>



                    </div>
                </div>
            </div>
           
            
        </article>
        <article>
            
            <div class="new_list">
                <div class="new_item">
                    <h4>Nhóm 4</h4>
                    <img src="img/pxt.jfif" alt="" style ="width: 200px;height:250px;">
                    <br>
                    <a href="https://scholar.google.com/citations?user=InidGeAAAAAJ&hl=en&oi=ao"> Phạm Xuân Thành</a>
            
                    <br>
                    <div class="content">
                        <br>Trưởng nhóm: Phạm Xuân Thành<br>
                        <br>Email: thanhpx@haui.edu.vn<br>
                        <br>Phạm Xuân Thành nhận bằng thạc sĩ khoa học của Trường Đại học Công nghệ, ĐHQGHN năm 2013 và nhận bằng Tiến sĩ của Đại học Kyung Hee, Yongin, Hàn Quốc năm 2022. <br>
                        <br>Quan tâm nghiên cứu hiện tại của ông bao gồm các mạch tích hợp tín hiệu tương tự, hỗn hợp và cảm biến cho các ứng dụng y sinh.<br>
                        <br>Thành viên:   <a href="https://scholar.google.com/citations?hl=en&user=eNJiKuYAAAAJ"> Trần Xuân Phương</a><br>



                    </div>
                </div>
            </div>
           
            
        </article>
        
        
       {{!-- <div class="contact">
            <h1>
               
                
                <br> Contact <br>
                &diams;
            </h1> 
            <h2><br>Địa chỉ: Phường Minh Khai, Quận Bắc Từ Liêm, Thành Phố Hà Nội .<br>
            <br>Điện thoại: 84.4.37655121, Fax: 84.4.37655261, Email: dhcnhn@haui.edu.vn<br>
            
            <br><img src="img/map.png" alt="" style ="width: 700px;height:400px;"><br>
        </h2>

       </div> --}}
        
        
    </div>
    <script>
    window.onload=function(){
        document.getElementById("NCKH").classList.add("active");
        if(document.cookie != "token="){
                document.getElementById('login').innerHTML = '<strong>Đăng xuất</strong>';
    }
};
    </script>