
<div style="background-color: azure;">
        <div class="container">
            <header style="width: 980px;height:140px;font-size: 50px;text-align:center">
            <a href="#"><img src="img/logo_haui.jpg" alt=""></a>
            NGHIÊN CỨU KHOA HỌC
        </header>
        </div>
        
        
        <div class="tieude" style="font-size:25px;text-align:center">
            {{!-- <br>Nhóm nghiên cứu Trường đại học Công nghiệp Hà Nội.<br> --}}
            {{!-- <hr color="darkgray" width="737px"/> --}}
            <br>Hãy gặp gỡ những con người đã sáng tạo ra những thứ tuyệt vời.<br>
            <hr color="darkgray" width="777px"/>
            {{!-- <br><img src="img/team.jpg" alt="" style="width:975px;height:400px;"><br> --}}
        </div>
        <div class="circle"></div>
        <br><h1 style="text-align: center;">
            Giảng viên tham gia nghiên cứu:
        </h1>
        <div class="container" style="margin-top: -50px;">
        <div class="row">
            <div class="col-sm">
            <article>
            <div class="new_list1">
                <div class="new_item">
                    <h4></h4>
                    <img src="img/nvc.png" alt="" style ="width: 200px;height:250px;">
                    <br>
                    <a href="https://sites.google.com/view/info-nvc/home"> Nguyễn Văn Cường</a>
            
                    <br>
                    <div class="content">
                    </div>
                </div>
            </div>
            </article>
            </div>
            <div class="col-sm">
            <article>
            
            <div class="new_list1">
                <div class="new_item">
                    <h4></h4>
                    <img src="img/tvl.jpg" alt="" style ="width: 200px;height:250px;">
                    <br>
                    <a href="https://sites.google.com/view/info-tvl/home"> Tống Văn Luyên</a>
            
                    <br>
                    <div class="content">
                        

 
                    </div>
                </div>
            </div>

            </article>
            </div>
            <div class="col-sm">
            <article>
            
            <div class="new_list1">
                <div class="new_item">
                    <h4></h4>
                    <img src="img/hmk.jfif" alt="" style ="width: 200px;height:250px;">
                    <br>
                    <a href="https://scholar.google.com/citations?user=KzDSNRUAAAAJ&hl=en"> Hoàng Mạnh Kha</a>
            
                    <br>
                    <div class="content">
                        


                    </div>
                </div>
            </div>
           
            
            </article>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
           <article>
            
            <div class="new_list1">
                <div class="new_item">
                    <h4></h4>
                    <img src="img/pxt.jfif" alt="" style ="width: 200px;height:250px;">
                    <br>
                    <a href="https://scholar.google.com/citations?user=InidGeAAAAAJ&hl=en&oi=ao"> Phạm Xuân Thành</a>
            
                    <br>
                    <div class="content">
                        


                    </div>
                </div>
            </div>
           
            
            </article>
            </div>
            <div class="col-sm">
            <article>
            
            <div class="new_list1">
                <div class="new_item">
                    <h4></h4>
                    <img src="img/dth.jfif" alt="" style ="width: 200px;height:250px;">
                    <br>
                    <a href="https://scholar.google.com/citations?user=SOB6RSIAAAAJ&hl=en"> Dương Thị Hằng</a>
            
                    <br>
                    <div class="content">
                        


                    </div>
                </div>
            </div>
           
            
            </article>
            </div>
            <div class="col-sm">
            <article>
            
            <div class="new_list1">
                <div class="new_item">
                    <h4></h4>
                    <img src="img/vtk.jfif" alt="" style ="width: 200px;height:250px;">
                    <br>
                    <a href="https://scholar.google.com/citations?user=DGO0uXQAAAAJ&hl=en"> Vũ Trung Kiên</a>
            
                    <br>
                    <div class="content">
                        


                    </div>
                </div>
            </div>
           
            
            </article>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
            <article>
            
            <div class="new_list1">
                <div class="new_item">
                    <h4></h4>
                    <img src="img/nam.png" alt="" style ="width: 200px;height:250px;">
                    <br>
                    <a href="https://scholar.google.com/citations?hl=en&user=eNJiKuYAAAAJ"> Trần Xuân Phương</a>
            
                    <br>
                    <div class="content">
                        


                    </div>
                </div>
            </div>
           
            
            </article>
            </div>
            <div class="col-sm">
            <article>
            <div class="new_list1">
                <div class="new_item">
                    <h4></h4>
                    <img src="img/nu1.jpg" alt="" style ="width: 200px;height:250px;">
                    <br>
                    <a href="https://docs.google.com/document/d/1hLXJLbV9gb_za3O9tqmr9nAHrVV1O8VF/edit"> Lê Thị Trang</a>
                    <br>
                    <div class="content">
                        


                    </div>
                </div>
            </div>
            </article>
            </div>
            <div class="col-sm">
            
            </div>
        </div>
        </div>
        <h1 style="text-align: center;padding-top:100px">
            Sinh viên tham gia nghiên cứu:
        </h1>
        <div class="container" style="margin-top: -50px;">
        <div class="row">
            <div class="col-sm">
            <article>
            <div class="new_list1">
                <div class="new_item">
                    <h4></h4>
                    <img src="img/ntmt.png" alt="" style ="width: 200px;height:250px;">
                    <br>
                    <a href="https://sites.google.com/view/infontmt/home"> Nguyễn Thị Mai Thủy</a>
            
                    <br>
                    <div class="content">
                    </div>
                </div>
            </div>
           
            
            </article>
            </div>
            <div class="col-sm">
            <article>
            
            <div class="new_list1">
                <div class="new_item">
                    <h4></h4>
                    <img src="img/nmd.png" alt="" style ="width: 200px;height:250px;">
                    <br>
                    <a href="https://sites.google.com/view/infonmd/home"> Nguyễn Minh Đức</a>
            
                    <br>
                    <div class="content">
                        


                    </div>
                </div>
            </div>
           
            
            </article>
            </div>
            <div class="col-sm">
            <article>
            
            <div class="new_list1">
                <div class="new_item">
                    <h4></h4>
                    <img src="img/ntva.png" alt="" style ="width: 200px;height:250px;">
                    <br>
                    <a href="https://sites.google.com/view/infontva/home"> Nguyễn Thị Vân Anh</a>
            
                    <br>
                    <div class="content">
                        


                    </div>
                </div>
            </div>
           
            
            </article>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
            <article>
            
            <div class="new_list1">
                <div class="new_item">
                    <h4></h4>
                    <img src="img/nbl.png" alt="" style ="width: 200px;height:250px;">
                    <br>
                    <a href="https://sites.google.com/view/info-nbl/home"> Nguyễn Bá Lãm</a>
            
                    <br>
                    <div class="content">
                        


                    </div>
                </div>
            </div>
           
            
            </article>
            </div>
            <div class="col-sm">
            <article>
            
            <div class="new_list1">
                <div class="new_item">
                    <h4></h4>
                    <img src="img/thd.png" alt="" style ="width: 200px;height:250px;">
                    <br>
                    <a href="https://sites.google.com/view/infothd/home"> Trần Hải Dương </a>
            
                    <br>
                    <div class="content">
                        


                    </div>
                </div>
            </div>
           
            
            </article> 
            </div>
            <div class="col-sm">
            <article>
            
            <div class="new_list1">
                <div class="new_item">
                    <h4></h4>
                    <img src="img/hvd.png" alt="" style ="width: 200px;height:250px;">
                    <br>
                    <a href="https://sites.google.com/view/info-hvd/home"> Hoàng Văn Đạo </a>
                    
            
                    <br>
                    <div class="content">
                        


                    </div>
                </div>
            </div>
           
            
            </article> 
            </div>
        </div>
        </div> 
</div>
<script>
    window.onload=function(){
        document.getElementById("NCKH").classList.add("active");
        if(document.cookie != "token="){
                document.getElementById('login').innerHTML = '<strong>Đăng xuất</strong>';
    }
};
</script>