<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-10 nen">
            <h1 class="text-center" style="padding-top:2rem;padding-bottom:1rem;border-bottom:3px solid black;">HƯỚNG DẪN SỬ DỤNG WEBSITE</h1>
            <img src="\img\hdsd\Capture.PNG" alt=""style="display:block;margin-left: auto;margin-right: auto;margin-bottom:30px;">
                <blockquote>
                    <p dir="ltr"><strong>1. GIỚI THIỆU CÁC THÀNH PHẦN TRÊN WEBSITE</strong></p>
                    <p dir="ltr" style="padding-left:20px"><strong>• Trang chủ</strong>: Giới thiệu Website hỗ trợ giảng viên thống kê khối lượng giảng dạy và cung cấp thông tin về nhóm và hướng nghiên cứu của Khoa Điện tử - Trường Đại học Công nghiệp Hà Nội.</p>
                    <p dir="ltr" style="padding-left:20px"><strong>• Tìm kiếm</strong>: Thống kê giảng dạy và hướng dẫn thực tập tốt nghiệp (TTTN), đồ án tốt nghiệp (ĐATN) gồm:</p>
                    <p dir="ltr" style="padding-left:40px">+ Xem thông tin lịch thực hành theo tuần.</p>
                    <p dir="ltr" style="padding-left:40px">+ Thống kê số tiết dạy Thực hành/Lý thuyết theo tháng.</p>
                    <p dir="ltr" style="padding-left:40px">+ Thống kê số giờ giảng dạy và hệ số TĐ ĐT theo tháng.</p>
                    <p dir="ltr" style="padding-left:20px"><strong>• Nhập dữ liệu</strong>: Giúp quản trị viên tải các dữ liệu lý thuyết, thực hành, hướng dẫn thực tập tốt nghiệp và đồ án tốt nghiệp theo năm học lên hệ thống.</p>
                    <p dir="ltr" style="padding-left:20px"><strong>• HDSD</strong>: Mô tả hướng dẫn sử dụng Website.</p>
                    <p dir="ltr" style="padding-left:20px"><strong>• Nghiên cứu khoa học(NCKH)</strong>: Cung cấp thông tin nghiên cứu khoa học gồm:</p>
                    <p dir="ltr" style="padding-left:40px">+ Giúp sinh viên nắm bắt được thông tin nghiên cứu khoa học và liên hệ để tham gia các nhóm nghiên cứu của Khoa.</p>
                    <p dir="ltr" style="padding-left:40px">+ Hiển thị thông tin về các giảng viên và sinh viên đang tham gia nghiên cứu tại Khoa.</p>
                    <p dir="ltr"><strong>2. CHỨC NĂNG TÌM KIẾM</strong></p>
                    <p dir="ltr" style="padding-left:20px"><strong>2.1 Chức năng thống kê khối lượng giảng dạy và hướng dẫn TTTN và ĐATN</strong></p>
                    <p dir="ltr" style="padding-left:20px"><strong>• Các bước thực hiện chức năng thống kê:</strong></p>
                    <p dir="ltr" style="padding-left:40px">B1: Chọn tab “Tìm kiếm” trên thanh công cụ</p>
                    <img src="\img\hdsd\Capture25.PNG" alt=""style="display:block;margin-left: auto;margin-right: auto;margin-bottom:30px;">
                    <p dir="ltr" style="padding-left:40px">B2: Chọn tab “Xem thông tin giảng dạy” và chọn tên giảng viên cần tra cứu</p>
                    <img src="\img\hdsd\Capture2.PNG" alt=""style="display:block;margin-left: auto;margin-right: auto;margin-bottom:30px;">
                    <p dir="ltr" style="padding-left:40px">B3: Chọn năm, tháng cần tra cứu rồi bấm “Tìm kiếm”</p>
                    <p dir="ltr" style="padding-left:40px">B4: Sau khi bấm tìm kiếm, trang website sẽ hiện các thông tin liên quan đến học phần bao gồm các thông chính: tên học phần, mã học phần, thực giảng và hệ số TĐ ĐT</p>
                    <img src="\img\hdsd\Capture3.PNG" alt=""style="display:block;margin-left: auto;margin-right: auto;margin-bottom:30px;width:100%;height:100%;">
                    <p dir="ltr" style="padding-left:20px">Để có thể lọc danh sách chi tiết của giảng viên đã chọn, hãy chọn tên học phần, mã lớp và hình thức giảng dạy (LT/TH/ĐA/TTTN), sau đó chọn biểu tượng bộ lọc. Ví dụ lọc lớp “Lập trình mạng” có mã học phần “202210803153001” đối với “TH nhóm 2” sẽ trả về kết quả như Hình bên dưới.</p>
                    <img src="\img\hdsd\Capture4.PNG" alt=""style="display:block;margin-left: auto;margin-right: auto;margin-bottom:30px;width:100%;height:100%;">
                    <p dir="ltr" style="padding-left:20px"><strong>2.2 Chức năng hiển thị thông tin thực hành theo tuần</strong></p>
                    <p dir="ltr" style="padding-left:20px"><strong>• Các bước thực hiện chức năng hiển thị thông tin thực hành theo tuần:</strong></p>
                    <p dir="ltr" style="padding-left:40px">B1: Chọn tab “Tìm kiếm” trên thanh công cụ</p>
                    <p dir="ltr" style="padding-left:40px">B2: Chọn tab “Xem thông tin thực hành” và chọn tên giảng viên cần tra cứu</p>
                    <img src="\img\hdsd\Capture5.PNG" alt=""style="display:block;margin-left: auto;margin-right: auto;margin-bottom:30px;width:100%;height:100%;">
                    <p dir="ltr" style="padding-left:40px">B3: Chọn năm, tháng cần, ngày thứ 2 đầu tuần (đại diện cho tuần đó) và bấm “Thông tin thực hành”</p>
                    <img src="\img\hdsd\Capture6.PNG" alt=""style="display:block;margin-left: auto;margin-right: auto;margin-bottom:30px;width:100%;height:100%;">
                    <p dir="ltr"><strong>3. CHỨC NĂNG NHẬP DỮ LIỆU</strong></p>
                    <p dir="ltr" style="padding-left:20px"><strong>Website cho phép nhập các dữ liệu sau:</strong></p>
                    <p dir="ltr" style="padding-left:40px">+ Nhập lịch đầy đủ bao gồm lịch lý thuyết, thực hành, đồ án môn học, đồ án tốt nghiệp, và thực tập tốt nghiệp</p>
                    <p dir="ltr" style="padding-left:40px">+ Nhập lịch thực hành theo tuần</p>
                    <p dir="ltr" style="padding-left:20px"><strong>3.1 Nhập lịch đầy đủ</strong></p>
                    <p dir="ltr" style="padding-left:20px"><strong>• Các bước nhập lịch đầy đủ</strong></p>
                    <p dir="ltr" style="padding-left:40px">B1: Chọn tab “Nhập dữ liệu” trên thanh công cụ và chọn “Lịch đầy đủ”</p>
                    <p dir="ltr" style="padding-left:40px">B2: Chọn tập tin đã chuẩn bị theo mẫu, sau khi chọn xong sẽ có thông báo tên tập tin đã chọn (Lưu ý: Tập tin chỉ chứa 1 sheet duy nhất tên là “KHOA DIEN TU”)</p>
                    <img src="\img\hdsd\Capture7.PNG" alt=""style="display:block;margin-left: auto;margin-right: auto;margin-bottom:30px;width:100%;height:100%;">
                    <p dir="ltr" style="padding-left:40px">B3: Nhấn “Tải lên” và tải tập tin lịch đầy đủ lên Website</p>
                    <img src="\img\hdsd\Capture8.PNG" alt=""style="display:block;margin-left: auto;margin-right: auto;margin-bottom:30px;width:100%;height:100%;">
                    <p dir="ltr" style="padding-left:20px"><strong>3.2 Nhập lịch thực hành theo tuần</strong></p>
                    <p dir="ltr" style="padding-left:20px"><strong>• Các bước nhập lịch thực hành theo tuần</strong></p>
                    <p dir="ltr" style="padding-left:40px">B1: Chọn tab “Nhập dữ liệu” trên thanh công cụ và chọn “Lịch thực hành”</p>
                    <p dir="ltr" style="padding-left:40px">B2: Chọn tuần nhập (Lưu ý: Chỉ chọn thứ 2 của tuần cần nhập)</p>
                    <p dir="ltr" style="padding-left:40px">B3: Chọn tập tin đã chuẩn bị theo mẫu, sau khi chọn xong sẽ có thông báo tên tập tin đã chọn (Lưu ý: tập tin chỉ chứa 1 sheet duy nhất)(Tương tự như nhập lịch đầy đủ)</p>
                    <p dir="ltr" style="padding-left:40px">B4: Nhấn “Tải lên” và tải tập tin lịch đầy đủ lên Website (Tương tự như nhập lịch đầy đủ)</p>
                </blockquote>
            <h1 class="text-center" style="padding-top:2rem;padding-bottom:1rem;border-bottom:3px solid black;">HƯỚNG DẪN CHUẨN BỊ DỮ LIỆU</h1>
                <blockquote>
                    <p dir="ltr" style="padding-left:20px"><strong>• Một số lưu ý khi chuẩn bị dữ liệu:</strong></p>
                    <p dir="ltr" style="padding-left:40px">- Để tránh những lỗi xảy ra trong quá trình xử lý dữ liệu, các ký tự đặc biệt như !,@,#,$... không nên được sử dụng trong các trường dữ liệu.</p>
                    <p dir="ltr" style="padding-left:40px">- Thông tin về số lượng nhóm và ca thực hành chỉ được viết bằng số, không được viết bằng chữ. Tên cũng nên được viết bằng các ký tự hoặc số hợp lệ, không sử dụng các ký tự đặc biệt.</p>
                    <p dir="ltr" style="padding-left:40px">- Yêu cầu điền đủ thông tin quan trọng: mã lớp, tên nhóm, ca thực hành, phòng thực hành</p>
                    <p dir="ltr" style="padding-left:40px">- Dữ liệu cần chuẩn bị gồm lịch đầy đủ mẫu(<a href="https://docs.google.com/spreadsheets/d/146sOQPfUirb5CPmBJ-vhw-sxmINwTbZ7/edit?usp=share_link&ouid=108418161343471868048&rtpof=true&sd=true">ví dụ tại đây</a>) và lịch thực hành theo tuần mẫu( <a href="https://drive.google.com/drive/folders/1REsaANdMcarjBIZNDRtuuuQYP_6_yjrp?usp=share_link">ví dụ tại đây</a> )</p>
                    <p dir="ltr"><strong>1. LỊCH ĐẦY ĐỦ</strong></p>
                    <p dir="ltr"style="padding-left:20px"><strong>1.1 Khái quát</strong></p>
                    <p dir="ltr" style="padding-left:20px"><strong>• Trong lịch học lý thuyết bao gồm những thành phần chính như:</strong></p>
                    <p dir="ltr" style="padding-left:40px">- Tên học phần</p>
                    <p dir="ltr" style="padding-left:40px">- Mã lớp</p>
                    <p dir="ltr" style="padding-left:40px">- Hệ</p>
                    <p dir="ltr" style="padding-left:40px">- Khóa</p>
                    <p dir="ltr" style="padding-left:40px">- Giảng viên</p>
                    <p dir="ltr" style="padding-left:40px">- Hình thức giảng dạy (LT/TH/ĐA/TTTN)</p>
                    <p dir="ltr" style="padding-left:40px">- Số tiết hoặc giờ giảng dạy/hướng dẫn đối với từng tuần</p>
                    <img src="\img\hdsd\Capture9.PNG" alt=""style="display:block;margin-left: auto;margin-right: auto;margin-bottom:30px;width:100%;height:100%;">
                    <p dir="ltr"style="padding-left:20px"><strong>1.2 Các bước chuẩn bị</strong></p>
                    <p dir="ltr" style="padding-left:40px">B1: Chuẩn bị bảng dữ liệu mẫu ví dụ như Hình dưới</p>
                    <img src="\img\hdsd\Capture10.PNG" alt=""style="display:block;margin-left: auto;margin-right: auto;margin-bottom:30px;width:100%;height:100%;">
                    <p dir="ltr" style="padding-left:40px">B2: Thêm ngày tháng năm vào bảng tính như hình minh họa</p>
                    <p dir="ltr" style="padding-left:40px">- Điền ngày thứ 2 của tuần đầu tiên năm học đối với hệ Đại học, ví dụ như hình bên dưới là ngày 04 tháng 07 năm 2022.</p>
                    <img src="\img\hdsd\Capture11.PNG" alt=""style="display:block;margin-left: auto;margin-right: auto;margin-bottom:30px;width:100%;height:100%;">
                    <p dir="ltr" style="padding-left:40px">- Chọn ô cạnh ô ngày 04 tháng 07 năm 2022 và viết câu lệnh bằng ngày đó cộng với 7 và sao chép công thức tới tuần cuối cùng của năm học. Ví dụ như hình bên dưới:</p>
                    <img src="\img\hdsd\Capture12.PNG" alt=""style="display:block;margin-left: auto;margin-right: auto;margin-bottom:30px;width:100%;height:100%;">
                    <p dir="ltr" style="padding-left:40px">- Lưu ý: Chuyển đổi hàng chứa thông tin ngày về dạng minh họa bên dưới (tháng/ngày/năm):</p>
                    <img src="\img\hdsd\Capture13.PNG" alt=""style="display:block;margin-left: auto;margin-right: auto;margin-bottom:30px;width:100%;height:100%;">
                    <p dir="ltr" style="padding-left:40px">B3: Điền dữ liệu thông tin học phần bắt đầu từ hàng thứ 9, như hình bên dưới</p>
                    <img src="\img\hdsd\Capture14.PNG" alt=""style="display:block;margin-left: auto;margin-right: auto;margin-bottom:30px;width:100%;height:100%;">
                    <p dir="ltr" style="padding-left:40px">B4: Yêu cầu một hàng trống ở ngay sau dữ liệu liên quan đến học phần</p>
                    <img src="\img\hdsd\Capture15.PNG" alt=""style="display:block;margin-left: auto;margin-right: auto;margin-bottom:30px;width:100%;height:100%;">
                    <p dir="ltr" style="padding-left:40px">B5: Lưu tập tin dưới dạng đuôi mở rộng .xlsx</p>
                    <img src="\img\hdsd\Capture16.PNG" alt=""style="display:block;margin-left: auto;margin-right: auto;margin-bottom:30px;width:100%;height:100%;">
                    <p dir="ltr"style="padding-left:20px"><strong>1.3 Các lưu ý</strong></p>
                    <p dir="ltr" style="padding-left:40px">- Không gộp các mã lớp với nhau</p>
                    <img src="\img\hdsd\Capture17.PNG" alt=""style="display:block;margin-left: auto;margin-right: auto;margin-bottom:30px;width:80%;height:80%;">
                    <p dir="ltr" style="padding-left:40px">- Sử dụng một sheet duy nhất với tên là “KHOA DIEN TU”</p>
                    <p dir="ltr"><strong>2. LỊCH THỰC HÀNH THEO TUẦN</strong></p>
                    <p dir="ltr"style="padding-left:20px"><strong>2.1 Khái quát</strong></p>
                    <p dir="ltr"style="padding-left:20px"><strong>• Trong lịch học thực hành theo tuần bao gồm những thành phần chính như:</strong></p>
                    <p dir="ltr"style="padding-left:40px">+ Tên học phần</p>
                    <p dir="ltr"style="padding-left:40px">+ Mã lớp</p>
                    <p dir="ltr"style="padding-left:40px">+ Hệ</p>
                    <p dir="ltr"style="padding-left:40px">+ Khóa</p>
                    <p dir="ltr"style="padding-left:40px">+ Giảng viên</p>
                    <p dir="ltr"style="padding-left:40px">+ Ca thực hành</p>
                    <p dir="ltr"style="padding-left:40px">+ Phòng thực hành</p>
                    <p dir="ltr"style="padding-left:40px">+ Tên nhóm thực hành</p>
                    <img src="\img\hdsd\Capture18.PNG" alt=""style="display:block;margin-left: auto;margin-right: auto;margin-bottom:30px;width:80%;height:80%;">
                    <p dir="ltr"style="padding-left:20px"><strong>2.2 Các bước chuẩn bị</strong></p>
                    <p dir="ltr"style="padding-left:40px">B1: Mở một bảng tính mẫu ở trên</p>
                    <img src="\img\hdsd\Capture19.PNG" alt=""style="display:block;margin-left: auto;margin-right: auto;margin-bottom:30px;width:80%;height:80%;">
                    <p dir="ltr"style="padding-left:40px">B2: Điền dữ liệu thông tin học phần bắt đầu từ hàng thứ 13, như hình bên dưới</p>
                    <img src="\img\hdsd\Capture20.PNG" alt=""style="display:block;margin-left: auto;margin-right: auto;margin-bottom:30px;width:80%;height:80%;">
                    <p dir="ltr"style="padding-left:40px">B3: Yêu cầu một hàng trống ở ngay sau dữ liệu liên quan đến học phần</p>
                    <img src="\img\hdsd\Capture21.PNG" alt=""style="display:block;margin-left: auto;margin-right: auto;margin-bottom:30px;width:80%;height:80%;">
                    <p dir="ltr"style="padding-left:40px">B4: Lưu tập tin dưới dạng đuôi mở rộng .xlsx</p>
                    <img src="\img\hdsd\Capture22.PNG" alt=""style="display:block;margin-left: auto;margin-right: auto;margin-bottom:30px;width:80%;height:80%;">
                    <p dir="ltr"style="padding-left:20px"><strong>2.3 Các lưu ý</strong></p>
                    <p dir="ltr"style="padding-left:40px">- Không gộp các ca, phòng với nhau</p>
                    <img src="\img\hdsd\Capture23.PNG" alt=""style="display:block;margin-left: auto;margin-right: auto;margin-bottom:30px;width:80%;height:80%;">
                    <p dir="ltr"style="padding-left:40px">- Không gộp các mã lớp với nhau</p>
                    <img src="\img\hdsd\Capture24.PNG" alt=""style="display:block;margin-left: auto;margin-right: auto;margin-bottom:30px;width:80%;height:80%;">
                    <p dir="ltr"style="padding-left:40px">- Sử dụng một sheet duy nhất</p>
                </blockquote> 
        </div>
        <div class="col">
        </div>
    </div>
</div>
<script>
window.onload=function(){
  document.getElementById("tien_ich").classList.add("active");
  if(document.cookie != "token="){
        document.getElementById('login').innerHTML = '<strong>Đăng xuất</strong>';
    }
};
</script>
