<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col-10 nen">
            <h1 class="text-center" style="padding-top:2rem;padding-bottom:1rem;border-bottom:3px solid black;">Hướng dẫn thao tác trên website</h1>
            <p dir="ltr"><strong>1.	HƯỚNG DẪN NHẬP FILE</strong></p>
                <blockquote>
                    <p dir="ltr"><strong>-	Chuẩn bị file:</strong></p>
                    <p dir="ltr" style="padding-left:20px">+ Chuẩn bị một file excel có đuôi .xlsx</p>
                    <p dir="ltr" style="padding-left:20px">+ Dữ liệu phải từ hàng thứ 9 trong file excel</p>
                    <p dir="ltr" style="padding-left:20px">+ Hàng cuối cùng phải để trống dữ liệu</p>
                    <p dir="ltr" style="padding-left:20px">+ Xem file mẫu để biết thêm chi tiết:
                        <a href="excel_example/lich_thuc_hanh.xlsx">Lịch thực hành mẫu</a>
                    </p>
                    <p dir="ltr"><strong>- Hiển thị số tiết dạy theo tháng</strong></p>
                    <p dir="ltr" style="padding-left:20px">+ Bước 1: Chọn tab “Nhập dữ liệu” trên thanh công cụ</p>
                    <p dir="ltr" style="padding-left:20px">+ Bước 2: Chọn tuần nhập. (Lưu ý: Chỉ nhập thứ Hai của tuần cần nhập)</p>
                    <p dir="ltr" style="padding-left:20px">+ Bước 3: Chọn file đã chuẩn bị, sau khi chọn xog sẽ có thông báo tên file đã chọn (Lưu ý: chỉ nhập 1 file)</p>
                    <p dir="ltr" style="padding-left:20px">+ Bước 4: Nhấn “Tải lên”. Đợi vài giây trang sẽ load lại và có thể nhập thêm file khác</p>
                </blockquote>
            <p dir="ltr"><strong>2.	HƯỚNG DẪN TRA THÔNG TIN</strong></p>
                <blockquote>
                    <p dir="ltr"><strong>-	Các bước để tra thông tin:</strong></p>
                    <p dir="ltr" style="padding-left:20px">+ Bước 1: Chọn tab “Tìm kiếm” trên thanh công cụx</p>
                    <p dir="ltr" style="padding-left:20px">+ Bước 2: chọn tên giảng viên cần tra thông tin</p>
                    <p dir="ltr" style="padding-left:20px">+ Bước 3: chọn năm, tháng cần tra</p>
                    <p dir="ltr" style="padding-left:20px">+ Bước 4: Nhấn nút Tìm kiếm</p>
                </blockquote>
        </div>
        <div class="col">
        </div>
    </div>
</div>
<script>
window.onload=function(){
  document.getElementById("tien_ich").classList.add("active");
};
</script>
