<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="\img\logo-ngang.webp" width="280" height="50" class="d-inline-block align-top" alt="">
    
  </a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a href="/" class="nav-link disabled" id="trang_chu"><strong>Trang chủ</strong></a>
    </li>
    <li class="nav-item">
      <a href="/search" class="nav-link disabled" id="tim_kiem"><strong>Tìm kiếm</strong></a>
    </li>
    <li class="nav-item">
      <a href="/add" class="nav-link disabled" id="nhap_dl"><strong>Nhập dữ liệu</strong></a>
    </li>
    <li class="nav-item">
      <a href="/more" class="nav-link disabled" id="tien_ich"><strong>Tiện ích</strong></a>
    </li>
  </ul>
</nav>

