<nav class="navbar navbar-light bg-light" id="nav">
  <a class="navbar-brand" href="#">
    <img src="\img\logo-ngang.webp" width="280" height="50" class="d-inline-block align-top" alt="">
    
  </a>
  <ul class="nav nav-pills">
    <li class="nav-item">
      <a href="/" class="nav-link" id="trang_chu"><strong>Trang chủ</strong></a>
    </li>
    <li class="nav-item">
      <a href="/search" class="nav-link" id="tim_kiem"><strong>Tìm kiếm</strong></a>
    </li>
    {{!-- <li class="nav-item">
      <a href="/add/ly-thuyet" class="nav-link" id="nhap_dl"><strong>Nhập dữ liệu</strong></a>
    </li> --}}
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="nhap_dl">
        <strong>Nhập dữ liệu</strong>
      </a>
      <div class="dropdown-menu">
        <a href="/add/thuc-hanh" class="dropdown-item" >Lịch thực hành</a>
        <a href="/add/ly-thuyet" class="dropdown-item">Lịch đầy đủ</a>
      </div>
      
    </li>
    <li class="nav-item">
      <a href="/more" class="nav-link" id="tien_ich"><strong>HDSD</strong></a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="NCKH">
        <strong>NCKH</strong>
      </a>
      <div class="dropdown-menu">
        <a href="/infor" class="dropdown-item" >Thông tin</a>
        <a href="/infor2" class="dropdown-item">Nhóm</a>
      </div>
    </li>
    <li class="nav-item">
      <a href="/login" class="nav-link" id="login"><strong>Đăng nhập</strong></a>
    </li>
    
  </ul>
</nav>

